@charset "utf-8";

#wrap{position:relative;width:1112px;height:100%;margin:0 auto;font-size:14px}
#top_head{position:relative;width:1024px;height:64px;margin:0 auto;}
#top_head #logo{position:absolute;left:0px;top:24px}
#top_head #myMenu{float:right;width:100px;height:30px;margin-top:16px;text-align:right;}
#top_head #userRank{position:absolute;left:648px;top:16px;height:32px;}

#userRank{width:244px;height:32px;}
#userRnkList{position:relative;height:32px;margin:0;padding:0;overflow:hidden;background-color:#f7f8f8;}
#userRnkList li{width:200px;height:32px;padding:6px 0 6px 16px;background:none;}
#userRnkList li .userRnkName{float:left}
#userRnkList li .userRnkCash{float:right}

.myMenuArea .myName{width:100%}
#myMenu #user_lst{display:none;overflow:hidden;position:absolute;right:0px;top:50px;width:130px;height:140px;background-color:#fff;border:1px solid red}
#myMenu #user_lst a{display:block;}
.icon_goldmedal{display:inline-block;width:20px;height:26px;background:url("../images/medal_1.png") no-repeat 0 center;}


#mid_head{position:relative;width:1024px;height:32px;margin:0 auto}
#category{position:absolute;left:0px;height:32px;}
#categoryArea{position:relative;width:100px;height:24px}
#categoryArea .btn a{height:24px;}
#categoryArea .btn a::before{content:'';display:inline-block;width:24px;height:24px;background:url("../images/btn/category.png") no-repeat 0 0;margin-right:16px;}
#categoryList{display:none;overflow:hidden;width:1064px;height:auto;position:absolute;left:-10px;top:0px;background-color:#262626;color:#fff;z-index:10;border-radius:6px;}
#categoryList p{font-weight:bold}
#categoryList ul{background-color:#181818}
#categoryList ul li{float:left;}
#categoryList .close{position:absolute;right:20px;top:16px;width:24px;height:24px;background:url("../images/ico_close.png") no-repeat;}
#categoryList .close a{display:block;width:24px;height:24px;}

.likeCategoryArea{width:1004px;height:100px;margin-top:50px;margin-left:20px;border-radius:6px;background:#181818}
.likeCategoryArea p{padding:20px 0 20px 20px;}
.likeCategoryArea ul{display:inline-block;padding-left:20px;}
.likeCategoryArea ul li{margin-right:24px}
.likeCategoryArea ul li a{color:#0073f0}
.likeCategoryArea ul li a:hover{text-decoration:underline;}
.allCategoryArea{width:1004px;height:auto;margin-top:8px;margin-left:20px;margin-bottom:24px;border-radius:6px;background:#181818}
.allCategoryArea p{padding:20px 0 20px 20px;}
.allCategoryArea ul{display:inline-block;margin-left:20px;}
.allCategoryArea ul li{width:94px;height:12px;margin:0 36px 16px 0}
.allCategoryArea ul li:last-child{margin-bottom:48px}
.allCategoryArea ul li a:hover{text-decoration:underline;}

#myInfo{display:block;position:absolute;left:778px;height:30px;}
#myInfo a{display:inline-block;padding:6px 12px;}
#myInfo a.first{color:#0073f0;font-weight:700;}
#myInfo a:hover{background:#f7f8f8}

.btn_search{width:22px;height:22px;position:absolute;right:0;top:6px;background:url('../images/ico_search.png') no-repeat center center;}
#search_area{display:none;width:100%;position:absolute;left:0px;top:140px;background:#fafafa;z-index:5;}
.search_box{width:1024px;margin:0 auto;}
.search_form{padding-top:30px;border-bottom:1px solid #181818}
.search_form .txt_search{width:90%;padding:10px 0;font-size:22px;border:0px;color:#1c2023;background:transparent;}
.search_form .btn_search2{width:22px;height:22px;margin-left:56px;border:none;background:url('../images/ico_search.png') no-repeat center center;}
.search_word{position:relative;margin-top:20px;}
.search_lst{padding-bottom:32px;}
.search_word strong{margin-top:20px}
.search_word .btn_all_delete{position:absolute;right:0px;top:0px;padding:8px 20px;border:1px solid #1c2023;border-radius:4px;}
.search_word .btn_all_delete a{font-size:12px;color:#181818}
.search_lst{margin-top:16px;margin-bottom:36px}
.search_lst p{float:left;margin:10px;font-size:12px;}
.search_lst p:first-child{margin-left:0px}
.sch_word:hover{background-color:#5a6670;}
.sch_word .sch_delete{margin-left:10px;text-decoration:none;}

#nav{position:relative;width:1024px;height:48px;margin:0 auto;display:flex;}
.navList{height:48px;overflow:hidden;}
.navList li{float:left;padding:15px 12px;}
.navList li em{font-size:8px;color:#6e59d9;}

/* 콘텐츠 영역 CSS */
#content{position:relative;width:1024px;margin:0 auto}
#content h3{margin-top:40px;font-size:18px;font-weight:bold;}
#content .txt_content{margin-top:12px;color:#989da0}

#money_content{width:1112px;height:400px;overflow:hidden}
#money_content .arrow .arrow_left{position:absolute;left:-44px;top:222px;}
#money_content .arrow .arrow_right{position:absolute;right:-40px;top:222px;}
.newsContent{position:relative;float:left;width:244px;height:260px;text-align:left;margin:20px 12px 0 0}
.newsContent .num{position:absolute;top:108px;left:12px;font-family:Lato;font-size:48px;font-weight:bold;color:#fff;font-style:italic;}
.newsContent .thumImg img{width:244px;height:150px;border-radius:4px;}
.newsContent .point{position:absolute;left:12px;top:12px}
.newsContent .bookmark{position:absolute;right:6px;top:6px}
.newsContent .bookmark a{display:block;height:32px;}
.newsContent .news_category{width:244px;height:32px;background:#eff8ff;border-radius:4px;margin-top:12px;}
.newsContent .news_category a{display:block;padding:8px 0 7px 12px;color:#0073f0;font-size:12px;}
.text_news{margin-top:12px}
.text_news dt{height:38px;font-weight:bold;}
.text_news dd{display:inline-block;font-size:12px;line-height:1.35;color:#787e83}

.snsShareList{position:absolute;top:55px;left:24px;display:none;}
.snsList{display:inline-block;width:196px;height:40px;background:url('../images/btn_sns.png') no-repeat 0 center}
.snsList li{float:left}
.snsList li a{display:block;width:40px;height:40px;}

#recom_cnt_area{position:relative;width:1024px;margin-top:12px;padding-bottom:12px;border-bottom:1px solid rgba(61, 69, 75, 0.08);}
#recom_cnt_area .recom_news{display:inline-block;width:1024px;height:81px}
#recom_cnt_area .thumImg img{width:127px;height:79px;}
#recom_cnt_area .point{width:42px;height:20px;position:absolute;left:7px;top:7px;background:url('../images/point.png') no-repeat 0 0;}
#recom_cnt_area dl{position:absolute;left:140px;top:20px;}
#recom_cnt_area dl dt{margin-bottom:5px;font-size:14px;font-weight:600;}
#recom_cnt_area dl dd{display:inline-block;font-size:12px;color:#787e83}
.snsShareList2{position:absolute;right:97px;top:0px;}
.snsShareList2 ul{display:block;width:208px;height:40px;margin-top:20px;background:url('../images/btn_sns.png') no-repeat 0 0;}
.snsShareList2 ul li{float:left;width:40px;height:40px;margin-right:12px}
.snsShareList2 ul li a{display:inline-block;width:40px;height:40px;}
#recom_cnt_area .bookmark{display:block;position:absolute;right:24px;top:20px;width:40px;height:40px;background:#f7f8f8;border-radius:50%;}
#recom_cnt_area .bookmark a{display:block;width:40px;height:40px;background:url('../images/icon_bookmark2.png') no-repeat center center}

#keyword_content{position:relative;}
#keyword_content .info{display:inline-block;width:16px;height:16px;background:url('../images/icon_info.png') no-repeat;}
.keyword_txt{margin-top:20px}
.keyword_txt .ipt_text{width:893px;height:14px;padding:16px 0 16px 19px;}
.keyword_txt .btn_push{width:114px;height:48px;padding:16px 32px;border-radius:4px;background-color:#5a6670;color:#fff}

#like_content{position:relative;}
#like_content .btn_like_filter{position:absolute;left:280px;top:0px;width:142px;height:28px;border:1px solid rgba(61, 69, 75, 0.16)}
.like_cate_lst{margin-top:19px}
.like_cate_lst li{display:inline-block;width:96px;height:39px;background:#f7f8f8}
.like_cate_lst li a{display:block;padding:12px 0px;text-align:center}
#like_News_Content{display:inline-block;}

/* top banner 영역 */
#top_banner{width:100%;height:44px;background-color:#0073f0;}
#banner{position:relative;width:1024px;margin:0 auto}
.banner_txt{position:absolute;left:0px;top:15px;}
.btn_app_dw{position:absolute;left:544px;top:10px;}
.btn_bn_close{position:absolute;right:0px;top:10px;}

#footer{width:100%;text-align:center;margin:50px 0 63px 0;font-size:14px;}
#footer a{font-weight:bold;}
#footer address{margin-top:32px;line-height:20px;font-size:13px;color:#5a6670}
#footer .copyright{font-size:11px;margin-top:37px}